<head>
  <title>Relaygacy</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/assets/app.css">
</head>
<body>
  <main>
    <header>
      <a class="subpage" href="/"><img src="/images/test.png" class="logo"></a>
      <ul class="menu">
        <li><a class="subpage" href="/events">Events</a></li>
        <li><a class="subpage" href="/tools">Tools</a></li>
        <li><a class="subpage" href="/resources">Resources</a></li>
        <li><a class="subpage" href="/credits">Credits</a></li>
      </ul>
    </header>
    <div class="separator"></div>
    <section>
      <div class="content">
        <div class="socials">
          <ul>
            <li>
              <a href="https://discord.gg/3kc6Sg5MC8">
                <img src="/images/discord.svg" class="social">
              </a>
            </li>
            <li>
              <a href="https://www.twitch.tv/relaygacy">
                <img src="/images/twitch.svg" class="social">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/relaygacy">
                <img src="/images/twitter.svg" class="social">
              </a>
            </li>
            <li>
              <a href="mailto:relaygacy@gmail.com">
                <img src="/images/gmail.svg" class="social">
              </a>
            </li>
          </ul>
        </div>
        <div class="subtext">
          <h1>Phantasmagoria of Dim. Dream</h1>
          <p>
            東方夢時空 ~ The Phantasmagoria of Dim. Dream is the 3rd Touhou Project game and came out in 1997. This game is very inspired by Twinkle Star Sprites, with a notable
            difference nonetheless: there is more emphasis on bullets instead of fireballs, and the default pellets can be cancelled with enemy explosions.
          </p>
          <h2>Gameplay Basics</h2>
          <h3>Player field</h3>
          <p>
            The game opposes two players on a split screen setup. The controls are remarkably simple: one button to fire a basic shot, which you can hold
            to charge up your power gauge, and another one to bomb, granting the player a few moments of invincibility and clearing the screen.
          </p>
          <h3>Hearts</h3>
          <img src="/images/podd/hearts.png" class="hearts">
          <p>
            Health in this game is represented by hearts, and works in a similar fashion to Twinkle Star Sprites. Initially both players start a round with 5
            points, displayed at the top of their respective fields. When a player gets hit, an amount from 1/2 to 3 points is substracted from their health
            pool, depending on how long since the last hit / start of the match they haven't been hit. A player cannot go under 1/2 heart as long as they have more
            than 1/2 heart remaining, allowing them one last stand.
          </p>
          <h3>Enemies</h3>
          <p>
            Similarly to Twinkle Star Sprites, stage enemies come in a variety of sizes and colors. Their sizes determine the scale of the explosion that'll appear when they are destroyed.
            Their color is an indication of the number of normal shots that will be required to destroy them. When shot, their colors change in order to denote their current remaining health: 
          </p>
          <div class="nodot">
            <ul>
              <li><img src="/images/podd/purplestar.png" class="imgdot">4 hits</li>
              <li><img src="/images/podd/bluestar.png" class="imgdot">3 hits</li>
              <li><img src="/images/podd/greenstar.png" class="imgdot">2 hits</li>
              <li><img src="/images/podd/redstar.png" class="imgdot">1 hit</li>
            </ul>
          </div>
          <p>
            The enemy appearance depends on the stage played, but doesn't influence gameplay at all.
          </p>
          <h3>Fireballs</h3>
          <p>
            In this game, fireballs are created when a certain amount of white pellets is removed from the field due to the detonation of enemies or other fireballs. They appear at
            the top of a player's field and move in a vertical line downwards. Their speed depends on the difficulty setting and the time elapsed since the start of the current round.
            They are tougher to kill than normal enemies, but charged shots destroys them instantly.
          </p>
          <div class="nodot">
            <ul>
              <li><img src="/images/podd/bluefireball.png" class="imgdot">Blue fireballs are newly created by cancelled pellets.</li>
              <li><img src="/images/podd/redfireball.png" class="imgdot">Red fireballs are created from the destruction of another fireball (red or blue) on the other field's side.</li>
            </ul>
          </div>
          <p>
            When fireballs are caught in a regular stage enemy explosion, they explode with a much bigger radius as when directly killed by the player. This makes them pretty important
            for chain combos, as they allow to bridge gaps between different chains of enemies (or a single chain with a lot of bulky enemies on higher difficulties). Their collateral
            destruction also grants the most spell points.
          </p>
          <p>
            Note that destroying a single fireball doesn't grant any spell point, and only sends it back. As a result, it is really advised you simply avoid to shoot them head on,
            unless absolutely necessary to avoid getting hit.
          </p>
          <h3>Extra Attacks</h3>
          <p>
            These are character specific special attacks that spawn when you cancel pellets and chain enemies / fireballs with explosions (and only in that case: enemies and fireballs destroyed by direct
            hits cannot spawn them). Aside from gauge attacks, they are the main offensive mechanic in this game.
          </p>
          <h3>Gauge</h3>
          <p>
            This game showcases a gauge with 4 levels of charge:
          </p>
          <ul>
            <li>Level 1 (L1): modified shot (stronger shot). L2/3/4 also fire this special shot.</li>
            <li>Level 2 (L2): a special attack that depends on the player character.</li>
            <li>Level 3 (L3): a special attack that depends on the player character, usually (but not always) taking more space on the screen than the level 2.</li>
            <li>Level 4 (L4): boss attack. In this game, the boss has a dedicated health bar.</li>
          </ul>
          <img src="/images/podd/gauge.png" class="sourceimg">
          <p>
            In this game, just like in Twinkle Star Sprite, it might be ill advised to use the lvl1 special shot too much as you can send automatic patterns onto
            the enemy screen by chaining enemies properly.
          </p>
          <h3>Bombs</h3>
          <p>
            They are very useful in dire situations, namely whenever a Boss Attack is present on your screen (as coupled with a few basic shots, it is enough to cancel
            most of them without you having to dodge them). Additionally, once you have no bomb left, you can keep pressing the related button if your gauge is full to trigger
            your Charge Max Ability. This is a defensive mode to use as a last resort that grants your character around 10s of invulnerability and turns their default shot into
            a variation of the charged shot (which in turns mean you damage and clear better but at the cost of lower combo chains).
          </p>
          <img src="/images/podd/maxgauge.gif" class="imgcenter">
          <figcaption>Reimu's Max Ability doesn't autofire, which is atypical</figcaption>
          <h3>Spell Points</h3>
          <p>
            When enemies are destroyed or small white bullets are caught within the explosive radii of defeated enemies and removed from the field, spell points are accumulated
            by the counter at the top-left corner of a player's field, beneath the hit combo display. At certain spell point values, special attacks are launched at your opponent: 
          </p>
          <ul>
            <li>51200: Boss Attack</li>
            <li>300000: Boss Panic (L3 Spell Attack)</li>
          </ul>
          <p>
            After a brief duration of inactivity (no additional spell points are being collected), the counter will reset to 0. When this occurs,
            the spell points are added directly to your score. The boss panic can only be triggered once per combo chain, so because of that, it might
            be advised to drop scoring after triggering it. It is also important to note that if by any chance both thresholds are reached at the same time,
            the boss attack takes priority over the boss panic.
          </p>
          <p>
            Around the gauge, you can find two different numbers:
          </p>
          <ul>
            <li>Spell Attack Level: In green on the left side of the gauge, it determines the relative strength of that player's lvl2 and lvl3 attacks.</li>
            <li>Boss Attack Level: In red on the right side of the gauge, it determines the relative strength of that player's lvl4 attacks.</li>
          </ul>
          <p>
            Every time an attack is fired, the corresponding level gets incremented by 1, up to 16 maximum. The relative strength here mostly determines the speed and number of
            the bullets spawned by the related patterns.
          </p>
          <h3>Strategy</h3>
          <p>
            As you might have undestood from scheming through the sections above, you mainly want to concentrate on chaining enemy explosions to rake high spell points and trigger EX
            Attacks and automated Spell / Boss Attacks. Additionally, you can use your spell gauge either aggressively (to chain automated and non automated attacks) or passively (keeping lvl4
            to reflect a boss and/or use your Charge Max ability when left on no bombs)
          </p>
          <h3>Characters</h3>
        </div>

        <div class="tierlist" x-data="{ openModal: '' }">
          <table class="podd">
            <tr>
              <th id="s" class="tier">S</th>
              <td>
                <span id="yumemi" class="character" title="Yumemi" @click="openModal='yumemi'"></span>
              </td>
            </tr>
            <tr>
              <th id="a" class="tier">A</th>
              <td>
                <span id="kotohime" class="character" title="Kotohime" @click="openModal='kotohime'"></span>
              </td>
              <td>
                <span id="mima" class="character" title="Mima" @click="openModal='mima'"></span>
              </td>
              <td>
                <span id="chiyuri" class="character" title="Chiyuri" @click="openModal='chiyuri'"></span>
              </td>
            </tr>
            <tr>
              <th id="b" class="tier">B</th>
              <td>
                <span id="ellen" class="character" title="Ellen" @click="openModal='ellen'"></span>
              </td>
              <td>
                <span id="reimu_podd" class="character" title="Reimu" @click="openModal='reimu'"></span>
              </td>
              <td>
                <span id="rikako" class="character" title="Rikako" @click="openModal='rikako'"></span>
              </td>
            </tr>
            <tr>
              <th id="c" class="tier">C</th>
              <td>
                <span id="marisa_podd" class="character" title="Marisa" @click="openModal='marisa'"></span>
              </td>
              <td>
                <span id="kana" class="character" title="Kana" @click="openModal='kana'"></span>
              </td>
            </tr>
          </table>

          <div class="modal" x-show="openModal=='yumemi'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Yumemi Okazaki</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/yumemi.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="5.0" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="5" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="3" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            130
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Yumemi has the best movement speed and attack speed possible, which allow her to properly chain enemies with ease (because she can move towards enemies
                  and destroy them as efficiently as possible). Her L1 even complements this because it has the potential to automatically chain enemies, making her a rather
                  beginner friendly character for people that haven't yet mastered the art of enemy formations.
                </p>
                <p>
                  Her boss is a monster: it has an aiming pattern and one that spawns tons of cross. It also has rather large HP (130) making it hard to fully cancel with a bomb
                  and basic shots (it would persist for a bit).
                </p>
                <p>
                  Said cross ex attacks are pretty good as well because of how they persist on the screen, preventing movement. They take a lot of space and can corner opponents,
                  stack together and they spawn relatively fast which gives the enemy only a short notice to get out of the way.
                </p>
                <h3>Downsides:</h3>
                <p>
                  Yumemi really only has one big downside and it his her L2/L3 patterns which are really easy to dodge, even at higher levels. Because of that, I'd say it is advised
                  to instead keep gauge energy to reflect a boss attack with her own, or for her gauge hyper.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='kotohime'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Kotohime</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/kotohime.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="4.25" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="1" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="4" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            110
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Her ex attack is very good because it can tank hits, and spawns non-cancellable projectiles in a circle in a way that lets them accumulate well with her other
                  patterns. Using her L2 is a bit dangerous because its pellets can easily be reflected, sending a boss attack your way, but that can be a way to start a spell war
                  if you get to destroy the pack of ghosts sent alongside. Her L3 however is super strong because of how tight it is.
                </p>
                <p>
                  Her L4 boss attack is also pretty decent, as it sends a lot of ex attacks that accumulate, as well as using a lot of non-cancellable bullets meaning it isn't weak
                  to being reflected. The mines also cannot be cancelled by bombs as they fall down before their detonation. She even has a glitch that allows her to chain a L2 with a
                  L3 together (by sending the second one right before the first one detonates, it will spawn both patterns) and get back a free mine.
                </p>
                <p>
                  Kotohime also has good movement and charge speed, allowing her to aggressively chain enemies and macrododge. Her L1 is also pretty great at reflecting packs
                  of ghosts, and is good in particular if used at point blank.
                </p>
                <h3>Downsides:</h3>
                <p>
                  While not that important for pro players, Kotohime's low attack speed make it particularly difficult for her to kill enemies, hindering her combo abilities quite
                  a bit. That is however her only real weakness, making her likely deserving the top tier spot instead of Yumemi.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='mima'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Mima</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/mima.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="5.0" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="2" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="4" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            110
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Mima has good movement and shot speed, which help her macrododge and chase enemies aggressively to chain them. Her L1 is also pretty decent especially
                  at point blank offensively, and at destroying chains of enemies / packs of ghosts defensively.
                </p>
                <p>
                  Her ex attack is very good: it stays on the screen for extended times up to 3 bounces (green, yellow, red colors indicate respectively 3, 2, 1 remaining bounces).
                  Its direction is rather unpredictable despite the "bouncing behavior" and it blocks hits. However, it can be swung outside of the field with a L1
                  (ignoring remaining bounces).
                </p>
                <p>
                  Her L2/L3 patterns come sideways and are a bit tricky to dodge. Her boss is pretty great, as it fires ex attacks that are partially used (yellow / red),
                  that stay less on the screen than the typical ex attack but resists bombs.
                </p>
                <h3>Downsides:</h3>
                <p>
                  Mima's L2 is actually a pretty good target for reversals due to how packed it is: this means using it might be punishable if the opponent has a chain
                  of enemies properly placed to take advantage of it. Aside from that, her only real weakness is a below average charge speed.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='chiyuri'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Chiyuri Kitashirakawa</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/chiyuri.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="5.0" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="2" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="4" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            140
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Chiyuri has the highest HP boss in the game, and that makes it pretty resilient to bombing, meaning it won't instantly dispawn even as the players
                  fires basic shots during the bomb. It also has pretty rough patterns and can go down in the middle of the screen.
                </p>
                <p>
                  She has good speed and charge speed, and a pretty great L1 that can be used to damage boss attacks (4 of them can actually kill a boss). Said L1
                  can start chains decently well, and be used as a defensive tool since it follows her for an extended time.
                </p>
                <p>
                  Her ex attack is alright because it can wall off the opponent, in particular when the boss spawns because it sends over a lot of them.
                </p>
                <h3>Downsides:</h3>
                <p>
                  Chiyuri's L2/L3 are easy to stream, and cancel in the case of her L2, making them a non-issue unless you manage to corner the opponent with them.
                  Her L4 also spawns a lot of pellets, which is detrimental and makes it weak to boss reversal as the enemy gets to score more by cancelling them.
                </p>
                <p>
                  Her L1 also has a fatal flaw: she cannot charge up her gauge, bomb or trigger her hyper while it happens, meaning using it too much can actually be
                  dangerous, in particular if the screen is dense with non-cancellable bullets.
                </p>
                <p>
                  Despite her ex attack being decent, the fact it takes a while to spawn also makes it usually easy to dodge.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='ellen'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Ellen</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/ellen.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="3.25" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="3" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="1" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            100
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Ellen's main strength is her ex attack, which spawns two spheres at a given location that will slowly orbit towards the edge of the screen.
                  Their movement is at times a bit difficult to understand, but an enemy getting on the side of the field can bait them into spawning closer
                  to the edge than usual, which makes them dispawn faster.
                </p>
                <p>
                  Her L2/L3 are alright, the first wave is easy to dodge but the second one has smaller gaps and can surprise an opponent. They can also be hit
                  by something else occupying the gap they try to go through. Her L1 homes in on the closest enemies which is bad for combo chains but can actually
                  be used somewhat decently as a defensive setup, since it lasts for quite a bit.
                </p>
                <p>
                  Her boss attack is also pretty good despite low HP because it can spawn a circle of ex attacks that curve with a steeper arc, and if she gets
                  to spawn them before the opponent fires their bomb off, they won't be cancelled by it, and get to stay for a time that lasts longer than the
                  invincibility frames it grants.
                </p>
                <h3>Downsides:</h3>
                <p>
                  Ellen has arguably the worst base stats in the game, with the slowest movement and charge speed of the game. That hurts her ability to dodge
                  fast moving patterns or aggressively chase down enemy chains, and her ability to actually use her gauge in any capacity (while charging it, she
                  will have to keep dodging enemy formations and patterns for extended times on her screen without being able to shoot at them).
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='reimu'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Reimu Hakurei</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/reimu.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="4.0" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="1" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="5" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            110
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Reimu has the fastest charge speed in the game, and it combines well with her deadly L2/L3 spell attacks.
                  She also has a very good boss attack that fires yin yang orbs (big and small) in a way that corners the opponent.
                </p>
                <p>
                  Her ex attack is pretty great: they are  yin yang orbs that bounce on the side of the screen and they it can easily wall someone
                  in a corner where they'll be finished off by something else.
                </p>
                <h3>Downsides:</h3>
                <p>
                  Reimu has a terrible base shot speed, which can get covered by her defensive L1 during spell wars. However, said L1 is itself
                  really bad offensively speaking because it cannot trigger combo chains by itself, instead deleting most ennemies on the field.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='rikako'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Rikako Asakura</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/rikako.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="4.5" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="5" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="1" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            110
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Her L1 is mainly useful defensively, but she can fire basic shots as it goes up the screen, allowing her to chain in two times at once and
                  prolong active chains. The fact it is slow is a bit detrimental to chains however, as it will keep hitting enemies, destroying them before any
                  explosion does.
                </p>
                <p>
                  The version of this L1 she uses during her hyper is however much better, because she can instead just move slightly towards a pack of enemies
                  and hit one of them with the tip to trigger an explosion chain. Said hyper actually has a glitch with a rare usecase: if Rikako's hyper is active
                  as she wins a round, she will keep her L1 gravitating around her for the next round (until she triggers the hyper again and it ends). While this
                  disables her gauge fully, it is still worth it due to how good it can be at chaining things.
                </p>
                <p>
                  She has a pretty strong boss attack because it can fire non cancellable flurry of bullets in oblique directions,
                  making them hard to dodge in a game without focus (you need to get around them and gap is small).
                </p>
                <h3>Downsides:</h3>
                <p>
                  Rikakos's ex attack isn't very dangerous: it is made up of some kind of chainsaw that slides down the screen, and can target an opponent if they get
                  too close. However, it is relatively small, and because this game has a maximum number of simultaneous ex attacks of 8, it is rarely an issue.
                </p>
                <p>
                  Her super slow charge speed hinder her, and her goot basic attack shot speed doesn't really make all that much for it because it has a small hitbox,
                  meaning it is still somewhat hard to reliably deal damage with it.
                </p>
                <p>
                  The pattern of her boss attack mentioned as an upside also actually only spawns non cancellable bullets if it has been upgraded enough, meaning
                  it is initially pretty weak to boss reversals.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='marisa'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Marisa Kirisame</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/marisa.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="4.0" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="4" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="3" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            110
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Marisa's main strength is her ex attack which takes time to spawn, but walls a bit in corridors, forcing vertical movmement.
                  It can also actually spawn in numbers above the usual maximum 8 ex attacks limit (because the ex attack itself is the blue
                  circle spawning the laser, which disappears after firing said laser).
                </p>
                <p>
                  Similarly to Chyuri, Marisa's L1 is pretty decent at chaining enemies and killing the boss, but where it really shines is at
                  sliding across the screen to defensively delete enemies. In particular, it is very great at dealing with packs of ghosts sent her way.
                </p>
                <p>
                  Her L2/L3 are OK, they spawn cross corridors that go around the opponent, making it harder to move too much. They combine well with the lasers
                  into an offense that mainly plans to restrict the enemy's options. 
                </p>
                <p>
                  Finally, she also has decent stats: good movement and attack speed, above average charge speed.
                </p>
                <h3>Downsides:</h3>
                <p>
                  Marisa's biggest issue is that she has a bad boss attack. Its patterns aren't great, but its main issue is that it waits for a long while inbetween
                  different patterns, and when it spawns, meaning it lets quite a long time for the opponent to score and reverse it, or plan how they will kill
                  enemies in order to cancel the pellets it sends over. Because of that, her offense suffers tremendously, explaining her low tier spot on this list.
                </p>
                <p>
                  Her L1 also suffers from the same issue as Chiyuri's: she cannot shoot, bomb or activate her hyper during it.
                </p>
              </div>
            </div>
          </div>

          <div class="modal" x-show="openModal=='kana'">
            <div class="modal-content" @click.outside="openModal=''" @keydown.escape.window="openModal=''">
              <div class="modal-header">
                <h2>Kana Anaberal</h2>
              </div>
              <div class="modal-body">
                <table class="noborders">
                  <tr>
                    <td>
                      <div class="portrait">
                        <img src="/images/podd/kana.png">
                      </div>
                    </td>
                    <td>
                      <table class="stats noborders">
                        <tr>
                          <td>
                            Movement Speed
                          </td>
                          <td class="value">
                            <progress value="3.5" max="5.0"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Attack Speed
                          </td>
                          <td class="value">
                            <progress value="2" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Charge Speed
                          </td>
                          <td class="value">
                            <progress value="5" max="5"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Boss HP
                          </td>
                          <td class="value">
                            100
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <h3>Upsides:</h3>
                <p>
                  Kana's main upside is her charge speed which combines well with her L1, which is great at dealing point blank damage and can actually be used
                  decently well to kill boss attacks. It can also be used at bigger distances to start chains from two sides of the screen for a few enemy formations.
                </p>
                <h3>Downsides:</h3>
                <p>
                  She has a terrible ex attack, L2/L3 and boss attack, which all together taken combine into the worst offense of the game. Sadly, this is likely one of
                  the most important part of a character in a Phantasmagoria game, thus explaining on its own why she sits at the bottom of this tier list.
                </p>
                <p>
                  The ex attack works a bit like Mystia's in PoFV (a bird that spawns bullets). It at least cannot be cancelled but it spawns bullets with a big gap
                  inbetween them, making them rather useless, unless stacked up.
                </p>
                <p>
                  Her L2/L3 leave are static and leave big gaps in the center of the field: they can thus easily be dodged. Finally, her boss attack has a few patterns
                  spawning lines of noncancellable bullets in a circle, that only divide the screen a bit, but are also trivial to dodge. It also has low HP.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="subtext">
          <h3>References</h3>
          <ul>
            <li><a href="https://en.touhouwiki.net/wiki/Phantasmagoria_of_Dim.Dream/Gameplay">Touhou Wiki - PoDD Gameplay</a></li>
            <li><a href="https://en.touhouwiki.net/wiki/User:KirbyComment/Phantasmagoria_of_Dimensional_Dream_Info">Informative Scoring Guide by KirbyComment</a></li>
            <li><a href="https://www.youtube.com/watch?v=SyxatZtzw70">Enemy Formations Guide by Christian Azinn</a></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</body>
